<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    <li>
        MEAN Stack
    </li>
    <li>
        MongoDB
    </li>
    <li>
        ExpressJS
    </li>
    <li>
        AngularJS
    </li>
    <li>
        NodeJS
    </li>
</ul>
<ng-view></ng-view>
