<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
<div data-ui-view>
</div>
        </md-content>
    </div>
</div>