<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="js/jspm_packages/system.js"></script>
    <script src="js/config.js"></script>
    <script>
        System.import('js/site');
    </script>

    <script src="//localhost:35729/livereload.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>

</html>
