<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>{{title}}</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<link rel="stylesheet" href="js/jspm_packages/github/angular/bower-material@0.10.0/angular-material.css" />-->
    <script src="js/jspm_packages/system.js"></script>
    <script src="js/jspm.config.js"></script>
    <script>
        System.import('js/site');
    </script>

    <script src="//localhost:35729/livereload.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>

</html>
