<div layout="row" flex>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <form>
                <md-card>
                    <md-card-content>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" name="user.Username" data-ng-model="user.Username" />
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="text" name="user.Username" data-ng-model="user.Username" />
                </md-input-container>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-click="/register">Register</md-button>
                    </div>
                        </md-card-content>
                    </md-card>
            </form>
        </md-content>
    </div>
</div>